.chartWrapper{
    background:white;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 0px #1018281A;
}
.chartHeader{
    color:#7C7A81;
    font-weight: 400;
}
.activity{
    font-size: 12px;
    color:#9291A5;
}
.incomePercent{
    color:#05DFAD;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
    background-color: #F0FDFA;
}
.totalIncomeList li::marker {
    color:#C6D2FD;  
}
.transactionTabs .nav-tabs {
    border-bottom: none; 
}
.transactionTabs .nav-tabs .nav-link{
    color:#27232F;
    background-color: #F0F7FF;
    font-size: 12px;
}
.table td,th{
    font-size: 13px;
}
.moneyActivity{
    position: absolute;
    top: -70%;
    left: 26%
}
.salesWrapper{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.clientWrapper{
    background-color: #F5FAFF;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px #1018281A;
}
.slider {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
}
.sliderWrapper .slide img {
    animation: slide 6s linear infinite;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.animatedBtn {
    transition: all 0.5s ease-in-out;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(90deg, #007BFF, #05DFAD);
    color: white;
}  
.animatedBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #007bff, #05DFAD); 
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
