.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(211 209 209 / 50%);
    z-index: 1990;
}